/**
 * @todo consolidate header and intercept to something singular.
 */

.profile-contents {
  flex: 1;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.profile-patterns {
  padding: var(--spacing-sm);
  border-bottom: solid 2px var(--border-dim);

  label {
    display: flex;
    align-items: center;
    user-select: none;
  }

  .pattern-label {
    color: var(--text-color-dim);
    width: 8em;
    padding: 0.6em 0;
  }

  input[type="text"] {
    flex: 1;
    border: solid 1px var(--border-dim);

    &:focus {
      border: solid 1px var(--border-light);
    }
  }

  .regex {
    margin-left: 1em;
    cursor: pointer;
    color: var(--text-color-dim);

    &:hover {
      color: var(--text-color);
    }

    &.enabled {
      color: var(--checkbox-active-color);
    }
  }
}

.title-headers,
.title-intercepts {
  position: sticky;
  top: 0;
}

.title-intercepts {
  .profile-contents.stacked & {
    top: 40px;
  }
}

.header-items,
.intercept-items {
  width: 100%;
}

.header-item,
.intercept-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom: solid 1px var(--border-dimmer);
  cursor: pointer;
  color: var(--text-color-dimmer);

  &:hover {
    background-color: var(--bg-color-dark);

    .remove-button {
      opacity: 1;
    }
  }

  &.enabled {
    color: var(--text-color);

    .target,
    .status-method,
    .mod-type {
      opacity: 1;
    }
  }

  .target,
  .mod-type,
  .status-method {
    opacity: 0.25;
  }

  .target {
    display: block;
    width: 20px;
    height: 20px;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--text-color);

      #request,
      #response {
        opacity: 0.25;
      }

      &.request {
        #request {
          opacity: 1;
          fill: var(--green-light);
        }
      }

      &.response {
        #response {
          opacity: 1;
          fill: var(--purple-light);
        }
      }
    }
  }

  .mod-type,
  .status-method {
    width: 50px;
    text-align: center;

    &.info {
      color: var(--mod-color-info);

      &:before {
        background-color: var(--mod-color-info);
      }
    }

    &.positive {
      color: var(--mod-color-positive);
      &:before {
        background-color: var(--mod-color-positive);
      }
    }

    &.alt {
      color: var(--mod-color-alt);
      &:before {
        background-color: var(--mod-color-alt);
      }
    }

    &.alt2 {
      color: var(--mod-color-alt2);
      &:before {
        background-color: var(--mod-color-alt2);
      }
    }

    &.negative {
      color: var(--mod-color-negative);
      &:before {
        background-color: var(--mod-color-negative);
      }
    }
  }

  .mod-type {
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 0.6em;
      height: 0.6em;
      border-radius: 50%;
      text-align: center;
    }
  }

  .status-method {
    font-size: 0.8em;
  }

  .header-name,
  .header-value,
  .intercept-title,
  .intercept-body {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .header-name,
  .intercept-title {
    width: 180px;
    padding-right: 1em;
  }

  .header-value,
  .intercept-body {
    flex: 1;
  }

  .remove-button {
    background: none;
    border: none;
    margin-right: var(--spacing-negative-tiny);
    opacity: 0;
    transition: opacity 0.5s;
    transform: translate(6px, 0px);

    &:hover {
      svg {
        fill: var(--text-color-dim);
      }
    }

    svg {
      width: 14px;
      height: 14px;
      fill: var(--text-color-dimmer);
    }
  }
}

.header-dialog,
.intercept-dialog {
  &.add {
    border: solid 1px var(--green-lighter);
  }

  &.edit {
    border: solid 1px var(--purple-lighter);
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 16px;
    margin-bottom: 1em;
  }

  article {
    flex: 1;
  }

  input[type="text"],
  select {
    width: 100%;
  }

  textarea {
    display: block;
    width: 100%;
    min-height: 100px;
  }
}
